<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbase.Properties.Settings.goshchinaConnectionString"
            connectionString="Database=goshchina;Username=shtyrba;Password=gBTnz9;Host=192.168.54.21"
            providerName="Npgsql" />
    </connectionStrings>
</configuration>